body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  cursor: pointer;
}
